@import url('https://fonts.googleapis.com/css2?family=Kanit&family=Quicksand:wght@600&display=swap');

:root{
    --yellow: #e2aa0e;
    --black: #1f2635;
    --candle: #FFF 0 -1px 4px, #ff0 0 -2px 10px, #ff8000 0 -10px 20px, red 0 -18px 40px, 5px 5px 15px 5px rgba(0,0,0,0);
}

html,body{
    margin: 0;
    font-family: 'Kanit', sans-serif;
    max-width: 100% !important;
    overflow-x: hidden !important;
}

main{
    background-color: var(--black);
    min-height: 100vh;
}

.card{
    border-color: var(--yellow);
    border-radius: 2rem;
    background-color: var(--yellow);
    transition: 0.5s;
}

.card:hover{
    transform: scale(1.1);
    transition: 0.5s;
}

.card-body{
    background-color: var(--black);
    font-family: 'Kanit', sans-serif;
    color: var(--yellow);
    border-radius: 2rem;
}

.card-body > a{
    color: white;
}
.card-body > a:hover{
    color:  #ff0;
}

.card-title, .card-text, label{
    color: var(--yellow);
}

.btn-yellow{
    background-color: var(--yellow);
}

.modal{
    font-family: 'Kanit', sans-serif;
    color: var(--yellow);
    border-color: var(--yellow);
}

.modal-content{
    background-color: #e2aa0e;
    border-color: #e2aa0e;
    border-radius: 2rem;
}

.modal-header, .modal-body, .modal-footer{
    border-color: var(--yellow);
    background-color: var(--black);
}

.modal-header{
    border-radius: 2rem 2rem 0 0 ;
}

.modal-footer{
    border-radius: 0 0 2rem 2rem;
}

.btn-close{
    background-color: var(--yellow);
}

.btn-neon{
    position: relative;
    bottom: 1rem;
    padding: 15px 30px;
    color: var(--yellow);
    letter-spacing: 4px;
    text-decoration: none;
    font-size: 24px;
    overflow: hidden;
    transition: 0.2s;
    
}
.btn-neon:hover{
    background: var(--yellow);
    box-shadow: var(--candle);
    transition-delay: 1s;
    color: black;
}

.btn-neon span{
    position: absolute;
    display: block;
}

#span1{
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #ff0);
}

.btn-neon:hover #span1{
    left: 100%;
    transition: 1s;
}

#span3{
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #ff0);
}
.btn-neon:hover #span3{
    right: 100%;
    transition: 1s;
    transition-delay: 0.5s;
}

#span2{
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg,transparent, #ff0);
}

.btn-neon:hover #span2{
    top: 100%;
    transition: 1s;
    transition-delay: 0.25s;
}

#span4{
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg,transparent, #ff0);
}

.btn-neon:hover #span4{
    bottom: 100%;
    transition: 1s;
    transition-delay: 0.75s;
}

.btn-neon:active{
    color: var(--yellow);
    background-color: var(--black);
    border: 2px solid #e2aa0e;
    border-radius: 5px;
    box-shadow: 0px 0px 0px 1px white;
    animation: anim-shadow .3s forwards;
    transition: 0s;
}

@keyframes anim-shadow{
    100%{
        box-shadow: #FFF 0 -1px 40px, #ff0 0 -2px 100px, #ff8000 0 -10px 200px, red 0 -18px 400px, 50px 50px 150px 50px rgba(0,0,0,0);
    }
}

.logoDerecha{
    width: 23rem;
    margin-bottom: 2.5rem;
}





